{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
AboutUs
{% endblock title %}
{% block aboutactive %}{% endblock aboutactive %}
{% block css_style %}
<link rel="stylesheet" href="{% static 'blog/css/about.css' %}">
{%  endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    
    <div class="col-sm-10 blog1"><h2 class="display-8 ">About Page</h2>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <p class="lead">
            Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit,           
            </p>
            <p class="lead lead2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, ipsa maiores. Excepturi accusantium, minima, esse laboriosam facilis temporibus nobis voluptas ipsa delectus vero saepe iusto, facere eaque ducimus nostrum iste?</p>
          </div>
        </div>
        </div>
        
{% endblock content %}