{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
Contact Page
{% endblock title %}
{% block contactactive %}active{% endblock contactactive %}
{% block css_style %}
<link rel="stylesheet" href="{% static 'blog/css/home.css' %}">

{%  endblock %}
{% block content %}

<div class="col-sm-10 blog1">

    <form action="" method="POST" novalidate>
        <div class="form-contro">
            <h1 class="text-white">Contact Page</h1>
                    {% comment %} {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="alet alert-{{message.tags}}"{% endif %} >
        {{message}}
        </P>
        {% endfor %}
        {% endif %} {% endcomment %}
        {% csrf_token %}
        {{ form.user_name.label_tag }}
        {{ form.user_name }}
        <small class="text-danger">
        {{ form.user_name.errors }}
        </small>
        <div class="email">
        {{ form.user_email.label_tag }}
        {{ form.user_email }}
        <small class="text-danger">
        {{ form.user_email.errors }}
        </small>
    </div>
        <div class="address">
        {{form.user_address.label_tag}}
        {{form.user_address}}
                     <small class="text-danger">
        
            
        {{form.user_address.errors}}</small>
   
        </div>
        <div class="msg">
            {{form.user_msg.label_tag}}
            {{form.user_msg}}
             <small class="text-danger">
            {{form.user_msg.errors}}
            </small>
        </div>
        <button class="btn btn-primary my-3 text-white">Send</button>
        </div>

    </form>
 </div>
{% endblock content %}