

{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
AboutUs
{% endblock title %}
{% block active %} active {% endblock %}
{% block css_style %}
<link rel="stylesheet" href="{% static 'blog/css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
{%  endblock %}
{% block content %}
    
    <div class="col-sm-10 blog1">
                            {% comment %} {% if messages %} {% endcomment %}
        {% for message in messages %}
        <h5 class="alert alert-success text-center " >
        {{message}}
        </h5>
        {% endfor %}
        {% comment %} {% endif %} {% endcomment %}
    <h2 class="display-8 ">Dashboard Page</h2> 
         
      <h4 class='text-center alert alert-info mt-5'>Show post information</h4>
    <a href="{% url 'addpost' %}" class="btn btn-success my-3">Add Post</a> 
     {% if posts %}
        <table class="table table-hover bg-white">
          <thead>
            <tr class="text-center">
              <th scope='col' style="width: 2%;">Id</th>
              <th scope='col' style="width: 28%;">Title</th>
              <th scope='col' style="width: 55% ;">Desc</th>
              <th scope='col' style="width: 15%;">Action</th>
            </tr>
          </thead>
            <tbody>
            {% for post in posts %}
            <tr>
                <td scope='row'>{{ post.id}}</td>
                <td>{{ post.title}}</td>
                <td>{{ post.desc}}</td>
                <td class="text-center">
                  <a href="{% url 'updatepost' post.id %}" class="btn btn-warning btn-sm" value="Upadate">Edit</a>
                  {% if perms.blog.delete_post%}
                  <form action="{% url 'deletepost' post.id %}" method="POST" class="d-inline">
                    {%csrf_token%}
                    <input  type="submit" value="Delete" class="btn btn-danger btn-sm">


                  </form>
                  {%endif%}
                </td>
              

            </tr>
            {%endfor%}
          </tbody>
       
        </table>
        {%endif%}
        </div>
  
{% endblock content %}